# Игнорировать файлы, созданные Python
*.pyc
__pycache__/
*.pyo

# Игнорировать файлы, созданные виртуальным окружением Python
venv/
env/
*.env
ENV/

# Игнорировать файлы медиа (например, загруженные изображения)
media/

# Игнорировать статические файлы (например, собранные файлы CSS и JS)
staticfiles/

# Игнорировать файлы конфигурации IDE (например, настройки PyCharm или VS Code)
.idea/
.vscode/

# Игнорировать файлы локализации (если они не используются)
locale/

# Игнорировать файлы настроек локальной базы данных SQLite
*.sqlite3
*.sqlite
db.sqlite3

# Игнорировать файлы настроек для разработчиков
*.bak
*.swp
*~

# Игнорировать файлы миграции Django
*/migrations/
